*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
html {
    scroll-behavior: smooth;
}
.row{
    display: flex;

}
.col-6{
    width: 50%;
    padding: 0 15px;
}
.col-4{
    width: 33.3%;
    padding: 0 15px;
    margin-bottom: 55px;
}
.col-3{
    width: 25%;
    padding: 0 15px;
}
.header {
    background: #0C0B08;
    width: 100%;
margin-top: -30px;
}
.mobile-btn {
    width: 55px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
}
.mobile-btn span {
    width: 100%;
    height: 3px;
    background: #fcac45;
    display: inline-block;
    position: relative;
}
.mobile-btn span:before,
.mobile-btn span:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fcac45;
    transition: .6s;
}
.mobile-btn span:before {
    top: -10px;
}
.mobile-btn span:after {
    top: 10px;
}
a, a:hover {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
a, a:hover {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.header-nav {
margin-right: -150px;
    display: flex;
    justify-content: space-between;
}
.pppp{
    margin-left: 900px;
    margin-top: 42px;
    position: absolute;
}
.header-btn{
    margin-right: -20px;
    position: relative;
    height: 40px;
    width: 200px;
border: none;
    background-color: #0C0B08;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    cursor: pointer;
    transition: 0.6s;
}
.header-btn:hover{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #FF7003;
    color: black;
    transition: 0.6s;
}
.header-btn1{
    position: relative;
    height: 40px;
    width: 200px;
    border: none;
    background-color: #0C0B08;
    color: white;
    cursor: pointer;
    transition: 0.6s;
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
}
.header-btn1:hover{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FF7003;
    color: black;
    transition: 0.6s;
}
.logo{
    margin-left: -100px;
margin-right: 300px;
    padding-top: 32px;
}
.header_menu {
    margin-right: 500px;
    display: flex;
    justify-content: center;
}
header{
    padding: 40px 0 ;
}
.header-a{
    padding-top: 46px;
    font-weight: 400;
    font-size: 15px;
    line-height: 173%;
    text-align: center;
    text-decoration: none;
    margin-right: 32px;
}
.pp{
margin-top: 200px;
}
.hero{
    background-color: #0C0B08;
}
.hero-p{
    margin-bottom: 25px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
}
.hero-title{
    color: #DCCA87;
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
}
.hero-p1{
    width: 400px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
margin-top: 32px;
    margin-bottom: 32px;
}
.hero-btn{
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    width: 157px;
    height: 44px;
    transition: 0.6s;
    background: #DCCA87;
    border: 1px solid #DCCA87;
    border-radius: 3px;
}
.hero-btn:hover{
    border: 1px solid #FF7003;
    border-radius: 20px;
    background-color: #FF7003;
    color: white;
    transition: 0.6s;
}
.hero-img{
    margin-bottom: 230px;
margin-top: 70px;
}
.knife{
    background: url("../images/knife/BG.jpg");
}
.knife-title1{
width: 300px;
    margin-left: 130px;
    margin-top: 340px;
    color: #DCCA87;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
}
.knife-text1{
    margin-top: 50px;
    margin-bottom: 40px;
    width: 420px;
    color: #AAAAAA;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
}
.knife-btn1{
    background: #DCCA87;
    border: 1px solid #DCCA87;
    border-radius: 3px;
    width: 141px;
    height: 44px;
    margin-left: 250px;
    color: black;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    transition: 0.6s;
    cursor: pointer;
}
.knife-btn1:hover{
    border: 1px solid #FF7003;
    border-radius: 20px;
    background-color: #FF7003;
    color: white;
    transition: 0.6s;
}
.knife-title{
    margin-top: 340px;
    color: #DCCA87;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
}
.knife-text{
    margin-top: 50px;
    margin-bottom: 40px;
    width: 420px;
    color: #AAAAAA;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
}
.knife-btn{
    cursor: pointer;
    background-color: #DCCA87;
    border: 1px solid #DCCA87;
    border-radius: 3px;
    width: 141px;
    height: 44px;
    color: black;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    transition: 0.6s;
}
.knife-btn:hover{
    border: 1px solid #FF7003;
    border-radius: 20px;
    background-color: #FF7003;
    color: white;
    transition: 0.6s;
}
.knife-img{
    margin-left: 140px;
margin-top: 120px;
    margin-bottom: 50px;
}
.o1{
margin-left: 40px;
}
.o2{
    margin-right: 100px;
    width: 400px;
}
.book{
    background: #0C0B08;
}
.ll{
    margin-left: 100px;
    background-color:#1C191B;
    margin-top: 157px;
    margin-bottom: 150px;
    border: 1px solid red;
    height:466px;
    width:1000px;
}
.book-text{
    margin-left: 420px;
    margin-top: 50px;
    margin-bottom: 25px;
    color: white;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
}
.book-title{
    margin-left: 300px;
    margin-bottom: 50px;
    color: #DCCA87;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
}
.l{
    margin-right: 30px;
}
.book-2{
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    padding: 20px;
    margin-right: 30px;
    width: 372px;
    height: 60px;
    background: none;
    border: none;
    color: #AAAAAA;
}
.book-3{
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    color: #AAAAAA;
    padding: 20px;

    background: none;
    border: none;
    width: 372px;
    height: 60px;
}
.book-btn{
    margin-left: 410px;
    margin-top: 30px;
    cursor: pointer;
    background-color: #DCCA87;
    border: 1px solid #DCCA87;
    border-radius: 3px;
    width: 141px;
    height: 44px;
    color: black;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    transition: 0.6s;
}
.book-btn:hover{
    border: 1px solid #FF7003;
    border-radius: 20px;
    background-color: #FF7003;
    color: white;
    transition: 0.6s;
}
.photo{
    background: url("../images/photo/Mask Group (1).png");
   height: 900px;
}
.card {
    width: 760px;
    height: 654px;
    /*border-radius: 4px;*/
    /*background: #212121;*/
    display: flex;
    gap: 5px;
    padding: .4em;
}
.card a {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    /*background: #212121;*/
    /*border: 1px solid #ff5a91;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.card a:hover {
    flex: 4;
}
.card a span {
    font-weight: 500;
    font-size: 54px;
    line-height: 120%;
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color:white;
    letter-spacing: .1em;
}
.card a:hover span {
    transform: rotate(0);
}
.menu{
    background: #0C0B08;
}
.menu-p{
    margin-left: 460px;
    padding-top: 152px;
    margin-bottom: 25px;
    color: white;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
}
.menu-h4{
    margin-left: 370px;
    margin-bottom: 70px;
    color: #DCCA87;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
}
.menu-img{
margin-bottom: 75px;
  margin-left: -60px;
}
.menu-btn{
    margin-left: 530px;
    cursor: pointer;
    background-color: #DCCA87;
    border: 1px solid #DCCA87;
    border-radius: 3px;
    color: black;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    transition: 0.6s;
    width: 140px;
    height: 40px;
    margin-bottom: 150px;
}
.menu-btn:hover{
    border: 1px solid #FF7003;
    border-radius: 20px;
    background-color: #FF7003;
    color: white;
    transition: 0.6s;
}
.chef{
    padding-bottom: 50px;
    background: url("../images/knife/BG.jpg");
}
.chef-img1{
    width: 550px;
height: 730px;
    margin-top: 128px;
}
.chef-img2{
    width: 550px;
    margin-top: 220px;
margin-right: 50px;
}
.custom{
    background: #0C0B08;
}
.custom-text{
    margin-top: 10px;
    color: #AAAAAA;
    width: 350px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
}
.custom-img{
margin-right: 20px;
width: 150px;
}
.custom-name{
    margin-top: -60px;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    margin-left: 170px;
    color: #DCCA87;
}
.custom-p{
    margin-bottom: 30px;
    margin-left: 160px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #F5EFDB;
}
.custom-p2{
    margin-left: 500px;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
  padding-top:150px ;
margin-bottom: 25px;
    color: #FFFFFF;
}
.custom-h2{
    margin-left: 300px;
margin-bottom: 75px;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    color: #DCCA87;
}
.gg{
    display: flex;
}
.video{
    background: url("../images/video/Mask Group (2).png");
    height: 763px;
}
.video-btn{
    margin-left: 500px;
    margin-top: 330px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
   background: none;
    border: 1px solid #DCCA87;
    cursor: pointer;
}
.lk{
    display: flex;
}
.our{
    background: url("../images/knife/BG.jpg");
    height: 959px;
}
.our-img{
margin-right: 50px;
}
.our-p{
    padding-bottom: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-left: 130px;
    width: 150px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #AAAAAA;
}
.our-h4{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    color: #DCCA87;
}
.our-p2{
    margin-left: 70px;
    margin-bottom: 25px;
    padding-top: 250px;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    color: #FFFFFF;
}
.our-h2{
    margin-left: 60px;
    margin-bottom: 70px;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    color: #DCCA87;
}
.our-img2{
    margin-left: 50px;
    margin-top: 180px;
}
.blog{
    background: #0C0B08;
}
.blog-p{
    margin-left: 530px;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    color: #FFFFFF;
padding-top: 120px;
}
.blog-p1{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #FAFAFA;
}
.blog-p2{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #FAFAFA;
}
.blog-h2{
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: #DCCA87;
    margin-top: 32px;
    margin-bottom: 32px;
}
.blog-h3{
    margin-left: 340px;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    color: #DCCA87;
    margin-top: 25px;
margin-bottom: 65px;
}
.blog-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #AAAAAA;
    margin-bottom: 32px;
}
.blog-a{
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    color: #DCCA87;
}
.h{
    display: flex;
    justify-content: space-between;
}
.blog-img{
    height: 365px;
    margin-bottom: 25px;
}
.blog-btn{
    margin-top:70px ;
    margin-left: 510px;
    cursor: pointer;
    background-color: #DCCA87;
    border: 1px solid #DCCA87;
    border-radius: 3px;
    color: black;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    transition: 0.6s;
    width: 140px;
    height: 40px;
    margin-bottom: 150px;
}
.blog-btn:hover{
    border: 1px solid #FF7003;
    border-radius: 20px;
    background-color: #FF7003;
    color: white;
}
.carousel{
    background: url("../images/knife/BG.jpg");
    height: 740px;
}
.p0{
    padding-top: 210px;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    color: white;
}
.text{
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    color: #DCCA87;
}
.p9{
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #AAAAAA;
}
.btn0{
    cursor: pointer;
    background-color: #DCCA87;
    border: 1px solid #DCCA87;
    border-radius: 3px;
    color: black;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    transition: 0.6s;
    width: 140px;
    height: 40px;
    margin-bottom: 150px;
}
.btn0:hover{
    border: 1px solid #FF7003;
    border-radius: 20px;
    background-color: #FF7003;
    color: white;
}
.owl-carousel{
    width: 800px;
    height: 300px;
}
.result-img{
    margin-right: 20px;
    padding-top: 110px;
}
.contact{
    position: relative;
    padding: 80px;
    background: #0C0B08;
    height: 350px;
}
.contact-block{
    position: absolute;
    width: 1000px;
    height: 442px;
    background-color:#1C191B;
    margin-left: 90px;
border: 1px solid darkred;
}
.contact-block2{
margin-left: 200px;
}
.contact-p{
    margin-left: 440px;
    padding-top: 64px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    color: #FFFFFF;
}
.contact-title{
    margin-left: 120px;
    font-weight: 600;
    font-size: 64px;
    color: #DCCA87;
    line-height: 130%;
}
.contact-text{
    margin-left: 400px;
    padding-top: 25px;
    margin-bottom: 64px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #FFFFFF;
}
.input {
    margin-right: 40px;
    width: 435px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 1px 3px 7px rgba(0,0,0,0.2);
    transition: 300ms ease-in-out;
}
.input:focus {
    background: #b1dae7;
    transform: scale(1);
    box-shadow: 7px 7px 80px #969696,
    -7px -7px 80px #ffffff;
}
.cta {
    width: 189px;
    height: 60px;
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background-color: #DCCA87;
    width: 45px;
    height: 60px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    width: 100%;
    background-color: #DCCA87;
}
.cta:hover svg {
    transform: translateX(0);
}
.cta:active {
    transform: scale(0.95);
}
footer{
    height: 737px;
    background: url("../images/knife/BG.jpg");
}
.block{
    margin-left: 100px;
    display: flex;
    margin-top: 350px;
}
.footer-p{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #AAAAAA;
}
.footer-h4{
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: #F5EFDB;
}
.footer-h2{
    margin-left: 70px;
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
    color: #DCCA87;
}
.footer-p2{
    margin-top: 32px;
    margin-bottom: 50px;
    padding-right: 100px;
    text-align: center;
    width: 470px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #FFFFFF;
}
.pr{
    margin-left: 110px;
}
.e{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #AAAAAA;
    margin-left: 800px;
}
.tabs{
    font-size: 0;
    max-width: 396px;
    margin-left: auto;
    margin-right: auto;
}
.tabs>input[type="radio"]{
    display: none;
}
.tabs>div{
    display: none;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    font-size: 16px;
}
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3
{
    display: block;
}
.tabs>label{
    color: #DCCA87;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    width: 132px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    user-select: none;
    background:none ;
    border: 1px solid #e0e0e0;
    padding: 2px 8px;
    transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
}
.tabs>label:not(:first-of-type){
    border-left: none;
}
.tabs>input[type="radio"]:checked+label{
    background-color: #DCCA87;
    color: black;
    border-bottom: 1px solid #fff;
}
.arrowUP{
    padding: 5px;
    position: fixed;
    font-size: 24px;
    right: 0;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius:50% ;
    background-color: #000000;
    text-align: center;
   margin-top: 690px;
    margin-right: 20px;
}




